@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,500;0,600;0,700;1,500;1,600;1,700&display=swap');
@import url('https://fonts.cdnfonts.com/css/pecita');


body{
    height: 10000px;
    width: 100%;
    font-family: 'Lora', serif;
    background-color: #cfb9a3;
    background-color: #afbfce;
    background-color: #506270;
    background-color: #ede5dd;
    margin: 0;
    /* color: #506270; */
}
::-webkit-scrollbar {
    width: 0;
  }


.navbar {   
    list-style-type: none;
    margin: 0 20px;
    padding: 0;
    overflow: hidden;
    position: relative;
    border-bottom: solid #ccc4bd 1px;
    border: solid red 0.01px;
}

.navbar-el { 
    float: left;
}
.logo {
    top: 0;
    right: 20px;
    font-size: 50px;
    position: absolute;
    font-family: 'Pecita', sans-serif;
}
.logo:hover {
    cursor: pointer;
}
.navbar-el-desc {
    font-weight: 600;
    font-size: 30px;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar-el-but{
}
.navbar-el-but:hover {
    cursor: pointer;
    background-color: #fff4e8;
}

.new-event {
    display: flex;
    flex-direction: row;
    margin: 0 20px;
    height: 500px;
    border: solid red 1px;
}

.centrilize {
    display: flex;
    justify-content: center;
    align-items: center;
}
.new-event-photo {
    height: 100%;
    width: 50%;
    border: solid red 1px;
}
.new-event-photo img {
    height: 250px;
    border: solid red 1px;
}
.new-event-desc {
    height: 100%;
    width: 50%;
    border: solid green 1px;
}
.new-event-desc p {
    padding: 40px;
    text-align: center;
}



.short-about {
    display: flex;
    flex-direction: row;
    margin: 0 20px;
    height: 250px;
    border: solid blue 1px
}

.short-about-block {
    width: 25%;
    height: 100%;
    flex-direction: column;
    text-align: center;
    border: solid red 1px;
}
.short-about-block p {
    padding: 0 10px;
}

.about {
    margin: 0 20px;
    height: 500px;
    border: solid red 1px;
    display: flex;
    flex-direction: row;
}
.about-desc {
    height: 100%;
    width: 50%;
    border: solid green 1px;
}
.about-desc p {
    padding: 40px;
    text-align: center;
}

.about-photo {
    height: 100%;
    width: 50%;
    border: solid red 1px;
}
.about-photo img {
    width: 250px;
    border: solid
     red 1px;
}


.timetable {    
    margin: 0 20px;
    /* height: 500px; */
    border: solid red 1px;
}
.timetable-events{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    border: solid red 1px;
}
.game {
    width: 300px;
    height: 300px;
    margin: 20px;
    border: solid red 1px;
}


.rules {
    height: 300px;
    margin: 0 20px;
    border: solid red 1px;
}
.rules-desc p {
    padding: 0 80px;
}