@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,500;0,600;0,700;1,500;1,600;1,700&display=swap');
@import url('https://fonts.cdnfonts.com/css/pecita');


body{
    /* height: 10000px; */
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    width: 0;
  }

.centrilize {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Начало интроблок */
  /* Начало интроблок */
  /* Начало интроблок */
.intro-block {
    position: relative;
    width: 100%;
    height: 100vh;
}
.navbar-block {
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    min-width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo {
    text-decoration: none; 
    margin-left: 20px;
    font-size: 40px;
    font-family: 'Pecita', sans-serif;
    font-weight: 600;
    color: white;
}

.navbar{
    list-style: none;
    display: flex;
}
.navbar li{
    text-decoration: none;
    padding: 0px 20px;
}
.navbar li a {
    color: white;
    text-decoration: none; 
    font-size: 25px;
}
.icon-cont{
    color: white;
    font-size: 30px;
    margin-right: 20px; 
}

@media screen and (max-width: 450px) {
    .navbar {
        display: none;
    }
    .navbar-block {
        justify-content: center;
    }
  }

.back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
.intro-content {
    text-align: center;
}
.intro-content h1 {
    color: white;
    font-family: 'Pecita', sans-serif;
    font-size: 120px;
    font-weight: 600;
}
.intro-content a {
    color: white;
     text-decoration: none;
     display: inline-block;
     font-size: 24px;
     border: 2px solid white;
     padding: 14px 70px;
     border-radius: 50px;
     margin-top: 20px;
}

/* Конец интроблок */
  /* Конец интроблок */
  /* Конец интроблок */




  /* Начало шортблок */
  /* Начало шортблок */
  /* Начало шортблок */
.short-about {
    display: flex;
    /* flex-direction: column;  */
    flex-wrap: wrap;
    margin: 0 20px;
    height: 250px;
    border: solid blue 1px
}

.short-about-block {
    width: 25%;
    height: 100%;
    flex-direction: column;
    text-align: center;
    /* border: solid red 1px; */
}
@media screen and (max-width: 450px) {
    .short-about-block {
        width: 50%;
        height: 50%;
    }
  }
.short-about-block p {
    padding: 0 10px;
}
/* Конец шортблок */
/* Конец шортблок */
/* Конец шортблок */


/* Начало правила */
/* Начало правила */
/* Начало правила */
.about {
    margin: 0 20px;
    height: 300px;
    border: solid red 1px;
    display: flex;
    flex-direction: row;
}
.about-desc {
    height: 100%;
    width: 50%;
    border: solid green 1px;
}
.about-desc p {
    padding: 40px;
    text-align: center;
}

.about-photo {
    height: 100%;
    width: 50%;
    border: solid red 1px;
}
.about-photo img {
    height: 50%;
    width: 50%;
    border: solid
     red 1px;
}
@media screen and (max-width: 450px) {
    .about {
        flex-direction: column;
    }
    .about-desc {
        width: 100%;
        height: 50%;
    }
    .about-photo {
        width: 100%;
        height: 50%;
    }
  }
/* конец правила */
/* конец правила */
/* конец правила */



/* Начало Расписание */
/* Начало Расписание */
/* Начало Расписание */
.timetable {    
    margin: 0 20px;
    /* height: 500px; */
    border: solid red 1px;
}
.timetable-events{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    border: solid red 1px;
}
.game {
    width: 300px;
    height: 300px;
    margin: 20px;
    border: solid red 1px;
}
@media screen and (max-width: 450px) {
    .game {
        width: 200px;
        height: 200px;
    }
  }
/* Конец Расписание */
/* Конец Расписание */
/* Конец Расписание */


.rules {
    height: 300px;
    margin: 0 20px;
    border: solid red 1px;
}
.rules-desc p {
    padding: 20px 200px;
}
@media screen and (max-width: 450px) {
    .rules-desc p {
        padding: 5px 40px;
    }
  }
