@import url('https://fonts.cdnfonts.com/css/pecita');
*, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 0;
  }
body {
    height: 10000px;
}


/*  */
.navbar {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar ul {
    list-style: none;
    display: flex;
}
.navbar li {
    margin: 0 1vw;
}
.navbar ul:first-child {
    margin-left: 2vw;
}
.navbar li a {
    text-decoration: none;
    font-size: 2vw;
    color: #fff;
}

.social-media i {
    color: white;
    font-size: 2vw;
    margin: 0 .5vw;
    cursor: pointer;
}
.social-media:last-child {
    margin-right: 2vw;
}





/*  */
.intro {
    width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    position: relative;
}
.intro::before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}


.intro-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    z-index: 3;
}
.intro-content h1 {
    font-family: 'Pecita', sans-serif;
    font-size: 10vw;
    text-align: center;
    cursor: default;
}
.intro-content p {
    font-size: 1vw;
    text-align: center;
}
.intro-content button {
    /* font-size: 2vw; */
    margin-top: 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0);
    border: solid 1px white;
    border-radius: 3vw;
    color: white;
    cursor: pointer;
    transition: all;
    padding: 1vw 2vw;
}
.intro-content button:hover {
    background-color: #fff;
    color: #000;
}

@media screen and (min-width: 450px) {
    .back-video {
        padding-bottom: 56.25%;
    }  
    .intro video {
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
    } 
}
@media screen and (max-width: 450px) {
    
    .navbar {
        height: 10vw;
        justify-content: right;
    }
    .social-media i{
        font-size: 6vw;
    }
    .navbar nav{
        visibility: hidden;
    }

    .intro {
        background-image: url("123.png");
    }  
    .back-video {
        visibility: hidden;
    } 
    .intro-content h1 {
        font-size: 20vw;
    }

    .intro-content p {
        font-size: 2vw;
    }

}
/*  */
.short-about {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 15vw;
}
.short-block {
    height: 100%;
    width: 25%;
    border: solid 1px red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2vw;
}

.short-block i {

    padding-top: 18px;
}
.short-about p {
    padding: 10px;
    margin-top: 1vw;
}
@media screen and (max-width: 450px) {
    .short-about {
        height: 120vw;
        flex-direction: column;
    }
    .short-block {
        height: 25%;
        width: 100%;
    }
}
/*  */
.about {
    margin-top: 2vw;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
}
.about-desc {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}
.about-desc p {
    padding: 0 20px;
    text-align: center;
}
.about-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}
@media screen and (max-width: 450px) {
    .about {
        flex-direction: column;
    }
    .about-desc {
        height: 50%;
        width: 100%;
    }
    .about-img {
        height: 50%;
        width: 100%;
    }
}
/*  */
.timetable {
    margin-top: 10vw;
    width: 100%;
}
.timetable h1 {
    text-align: center;
    width: 100%;
    font-size: 6vw;
}
.game-table {
    margin-top: 5vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.game {
    background-color: aquamarine;
    width: 25%;
    height: 25%;
    margin: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@media screen and (max-width: 450px) {
    .game {
        width: 80%;
    }
    .game-table {
        flex-direction: column;
        align-items: center;
    }
}
.game img {
    width: 60%;
    margin: 2vw;
}
.game p {
    padding: 0 1vw;
    font-weight: 600;
    text-align: center;
}
.game-name {
    font-size: 2vw;
    color: blue;
}
.game-rest {
    margin-top: 0.7vw;
}
.game-desc {
    margin-top: 0.7vw;
    color:darkviolet;
}
.game-price {
    margin-top: 0.7vw;
}
.game-button {
    border: none;
    padding: 8px 20px;
    cursor: pointer;
    margin-top: 3vw;
    margin-bottom: 2vw;
    background-color:darksalmon;
    border-radius: 20px;
}
.game-button:hover {
    background-color: darkorchid;
}










/*  */
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all .3s ease 0s;
    transform: translate(0px, -100%);
}
.popup.open {
    transform: translate(0, 0);
    visibility: visible;
}
.reg-but {
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 50px;
}
.popup-close {
    cursor: pointer;
    position: absolute;
    top: 1vw;
    right: 2vw;
    font-size: 3vw;
    color: #000;
    text-decoration: none;
}
.popup-body {
    position: relative;
    height: 100%;
    width: 50%;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.popup-content {
    position: relative;
    width: 100%;
    border: solid red 1px;
    text-align: center;
    background-color: #fff;
    color: #000;
    padding: 30px;
    
}
.popup-content h1 {
    text-align: center;
    padding: 0 20px;
}
.reg-form {
    width: 100%;    
    display: flex;
    margin-top: 2vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.reg-form label {
    /* border: solid red 1px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    width: 100%;
    margin-top: 1vw;
    margin-bottom: 2vw;
    font-size: 1.5vw;
}
.reg-form input {
    text-align: center;
    border-radius: 5px;
    font-size: 2vw;
    border: solid 2px rgb(192, 192, 192);
    height: 5vw;
    width: 70%;
}
.reg-form input:focus {
    outline: none;
}
@media only screen and (max-width: 450px) {
    .popup-body {
        width: 100%;
    }
    .reg-form label {
        font-size: 4vw;
    }
    .reg-form input {
        height: 10vw;
        width: 100%;
        font-size: 5vw;
    }   
}
/*  */

